<table>
  <tr>
    <th>Name</th>
    <th>Faction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% models.each do |model| %>

  <tr>
    <td><%= model.name %></td>
    <td><%= model.faction.name %></td>
    <td><%= link_to 'Show', "/#{model_type}/#{model.id}" %></td>
    <td><%= link_to 'Edit', "/#{model_type}/#{model.id}/edit" if can? :update, model %></td>
    <td><%= link_to 'Delete', "/#{model_type}/#{model.id}", :confirm => "Are you sure?", :method => :delete if can? :destroy, model %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{model_name}", "/#{model_type}/new" if can? :create, Model %>