<div class="rule_fields">
	<div class="field">
		<%= f.hidden_field :_destroy %>
		<%= link_to_function 'Remove', 'remove_fields(this, "rule_fields")' %>
	</div>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class ="field">
		<%= f.label :desc %><br />
		<%= f.text_area :desc %>
	</div>
</div>