<%= sanitize "<h2>#{model.short_name}</h2>" if !model.rules.empty? || !model.orders.empty? %>

<% model.parent_orders.each do |order| %>
	<p>
		<strong><%= order_name order %></strong>
		<%= " - #{order.desc}" if !order.desc.empty? %>

		<ul>
			<% order.sub_orders.each do |sub| %>
				<li><strong><%= order_name sub %></strong> - <%= sub.desc %></li>
			<% end %>
		</ul>
	</p>
<% end %>

<% model.rules.each do |rule| %>
	<p>
		<strong><%= rule.name %></strong>
		<%= " - #{rule.desc}" if !rule.desc.empty? %>
	</p>
<% end %>