<% unless @model.spells.empty? %>
  $("#spell_stats").removeClass("hidden");
<% end %>

$('#spell_stats > tbody').append("<tr class='spell_<%= @spell.id %>'><td class='left_align'><strong><%= @spell.name %></strong> <%= escape_javascript(link_to '[>]', @spell) %> <a class='remove' href='/models/<%= @model.id %>/remove_spell/<%= @spell.id %>'>[x]</a></td><td><%= @spell.cost %></td><td><%= @spell.rng %></td><td><%= statDash @spell.aoe %></td><td><%= statDash @spell.pow %></td><td><%= bool2Affirm @spell.up %></td><td><%= bool2Affirm @spell.off %></td></tr><tr class='spell_<%= @spell.id %>'><td class='left_align' colspan='7'><%= escape_javascript(@spell.desc) %></td></tr>");

$("#model_spells option[value='<%= @spell.id %>']").remove();