<%= form_for @trait do |f| %>
	<% if @trait.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@trait.errors.count, "error") %> prohibited this model from being saved:</h2>
		<ul>
		<% @trait.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :desc %><br />
		<%= f.text_area :desc %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>