<h1>Factions</h1>

<table>
  <tr>
    <th>Faction</th>
    <th>Game</th>
    <th></th>
    <th></th>
  </tr>
<% @factions.each do |faction| %>
  <tr>
	  <td><%= faction_link faction %></td>
  	<td><%= faction.game %></td>
  	<td><%= link_to 'Edit', edit_faction_path(faction) if can? :update, faction %></td>
  	<td><%= link_to 'Delete', faction, :method => :delete, :confirm => "Are you sure?" if can? :destroy, faction %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faction', new_faction_path if can? :create, @factions %>