<h1>Orders</h1>

<p><%= paginate @orders %></p>

<table>
	<tr>
		<th>Name</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @orders.each do |order| %>
	<tr>
		<td><%= order.name %></td>
		<td><%= link_to 'Show', order %></td>
		<td><%= link_to 'Edit', edit_order_path(order) if can? :update, order %>
		<td><%= link_to 'Delete', order, :confirm => "Are you sure?", :method => :delete if can? :destroy, order %>
	</tr>
<% end %>
</table>

<p><%= paginate @orders %></p>

<br />

<%= link_to 'New Order', new_order_path if can? :create, @orders %>