<table class="stat_table">
	<tr>
		<th>RNG</th>
		<th>ROF</th>
		<th>AOE</th>
		<th>POW</th>
	</tr>
	<tr>
		<td>
			<%= "SP" if weapon.spray %>
			<%= weapon.rng %>
		</td>
		<td><%= weapon.rof.nil? ? '∞' : weapon.rof %></td>
		<td><%= statDash weapon.aoe %></td>
		<td><%= weapon.pow %></td>
	</tr>
</table>