<div id="weapon_<%= weapon.id %>" class="warjack_weapon">
	<div class="weapon_hand">
		<%= hand %>
	</div>
	<div class="weapon_stats">
		<%= weapon.name %> <%= 'x2' if x2 %>
		<%= link_to '[>]', weapon %>
		<%= link_to '[x]', { :controller => 'models', :action => 'remove_weapon', :id => model_id, :weapon_id => weapon.id }, :class => 'remove' if can? :destroy, weapon %>
		<% if weapon.mount? %>
			<%= render :partial => 'weapons/mount', :locals => { :weapon => weapon } %>
		<% else %>
			<% if weapon.ranged %>
				<%= render :partial => 'weapons/ranged', :locals => { :weapon => weapon } %>
			<% else %>
				<%= render :partial => 'weapons/melee', :locals => { :weapon => weapon, :str => model_str } %>
			<% end %>
		<% end %>
	</div>
</div>