<div class="warjack_weapon">
	<div class="weapon_hand">
		<%= hand %>
	</div>	
	<div class="weapon_stats">
		<%= weapon.name %> <%= 'x2' if x2 %>
		<% if weapon.ranged %>
			<%= render :partial => 'weapons/ranged', :locals => { :weapon => weapon } %>
		<% else %>
			<%= render :partial => 'weapons/melee', :locals => { :weapon => weapon, :str => unit_str } %>
		<% end %>
	</div>
</div>