$('#unit_weapons').append("<option value='<%= @weapon.id %>' selected='selected'><%= @weapon.name %></option>");
$('#unit_warjack_attributes_left_hand_id').append("<option value='<%= @weapon.id %>'><%= @weapon.name %></option>");
$('#unit_warjack_attributes_right_hand_id').append("<option value='<%= @weapon.id %>'><%= @weapon.name %></option>");
$('#x_newweapon').html('');