<h1>Weapons</h1>

<p><%= paginate @weapons %></p>

<table>
	<tr>
		<th>Weapon</th>
		<th>Type</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @weapons.each do |weapon| %>
	<tr>
		<td><%= weapon.name %></td>
		<td><%= weaponType weapon.ranged %></td>
		<td><%= link_to 'Show', weapon %></td>
		<td><%= link_to 'Edit', edit_weapon_path(weapon) if can? :update, weapon %></td>
		<td><%= link_to 'Delete', weapon, :confirm => "Are you sure?", :method => :delete if can? :destroy, weapon %></td>
	</tr>
<% end %>
</table>

<p><%= paginate @weapons %></p>

<br />

<%= link_to 'New Weapon', new_weapon_path if can? :create, @weapons %>