<h1><%= @weapon.name %></h1>
<% if @weapon.ranged %>
	<%= render :partial => 'ranged', :locals => { :weapon => @weapon } %>
<% else %>
	<%= render :partial => 'mount', :locals => { :weapon => @weapon } %>
<% end %>

<%= render :partial => 'abilities', :locals => { :weapon => @weapon } %>

<%= link_to 'Back', weapons_path %> | <%= link_to 'Edit', edit_weapon_path(@weapon) %>