<%= f.fields_for :warcaster do |form| %>
	<%= f.hidden_field :unit_type_id, :value => unit_type %>
	<div class="field">
		<%= form.label :epic %>? 
		<%= form.check_box :epic %>
	</div>
	<div class="field">
		<%= form.label :focus %><br />
		<%= form.text_field :focus, :size => 2, :maxlength => 2 %>
	</div>
	<div class="field">
		<%= form.label :wj_points %><br />
		<%= form.text_field :wj_points, :size => 2, :maxlength => 2 %>
	</div>
	<div class="field">
		<%= form.label :feat_name %><br />
		<%= form.text_field :feat_name %>
	</div>
	<div class="field">
		<%= form.label :feat_desc %><br />
		<%= form.text_area :feat_desc %>
	</div>
<% end %>