<%= form_for(@model_type) do |f| %>
	<% if @model_type.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@model_type.errors.count, "error") %> prohibited this model from being saved:</h2>
		<ul>
		<% @model_type.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>