<h1>Weapon Abilities</h1>

<p><%= paginate @abilities %></p>

<table>
	<tr>
		<th>Name</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @abilities.each do |ability| %>
	<tr>
		<td><%= ability.name %></td>
		<td><%= link_to 'Show', ability %>
		<td><%= link_to 'Edit', edit_ability_path(ability) %></td>
		<td><%= link_to 'Delete', ability, :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
<% end %>
</table>

<p><%= paginate @abilities %></p>

<br />

<%= link_to 'New Ability', new_ability_path %>
	