<table id="spell_stats" class="stat_table <%= 'hidden' if spells.empty? %>">
	<thead>
	<tr>
		<th class="left_align"><%= type %></th>
		<th>COST</th>
		<th>RNG</th>
		<th>AOE</th>
		<th>POW</th>
		<th>UP</th>
		<th>OFF</th>
	</tr>
	</thead>

	<tbody>
<% spells.each do |spell| %>
	<tr class="spell_<%= spell.id %>">
		<td class="left_align">
		  <strong><%= spell.name %></strong>
		  <%= link_to '[>]', spell %>
		  <%= link_to '[x]', { :controller => 'models', :action => 'remove_spell', :spell_id => spell.id }, :class => 'remove' if can? :destroy, spell %>
		</td>
		<td><%= spell.cost %></td>
		<td><%= spell.rng %></td>
		<td><%= statDash spell.aoe %></td>
		<td><%= statDash spell.pow %></td>
		<td><%= bool2Affirm spell.up %></td>
		<td><%= bool2Affirm spell.off %></td>
	</tr>
	<tr class="spell_<%= spell.id %>">
		<td colspan="7" class="left_align"><%= spell.desc %></td>
	</tr>
<% end %>
	</tbody>
</table>