<h1>Spells</h1>

<p><%= paginate @spells %></p>

<table>
	<tr>
		<th>Spell</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @spells.each do |spell| %>
	<tr>
		<td><%= spell.name %></td>
		<td><%= link_to 'Show', spell %></td>
		<td><%= link_to 'Edit', edit_spell_path(spell) if can? :update, spell %></td>
		<td><%= link_to 'Delete', spell, :confirm => "Are you sure?", :method => :delete if can? :destroy, spell %></td>
	</tr>
<% end %>
</table>

<p><%= paginate @spells %></p>

<br />

<%= link_to 'New Spell', new_spell_path if can? :create, @spells %>