<h1>Spells</h1>

<table>
	<tr>
		<th>Spell</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
<% @spells.each do |spell| %>
	<tr>
		<td><%= spell.name %></td>
		<td><%= link_to 'Show', spell %></td>
		<td><%= link_to 'Edit', edit_spell_path(spell) %></td>
		<td><%= link_to 'Delete', spell, :confirm => "Are you sure?", :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Spell', new_spell_path %>