<table>
  <tr>
    <th>Name</th>
	<th>Faction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% units.each do |unit| %>

  <tr>
    <td><%= unit.name %></td>
	<td><%= unit.faction.name %></td>
    <td><%= link_to 'Show', squad_path(unit) %></td>
    <td><%= link_to 'Edit', edit_squad_path(unit) %></td>
    <td><%= link_to 'Delete', unit, :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_squad_path %>