<div class="unit_fields">
	<div class="field">
		<%= f.hidden_field :_destroy %>
		<%= link_to_function 'Remove', 'remove_fields(this)' %>
	</div>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :short_name %><br />
		<%= f.text_field :short_name %>
	</div>
	<div class="field">
		<%= f.label :spd %><br />
		<%= f.text_field :spd %>
	</div>
	<div class="field">
		<%= f.label :str %><br />
		<%= f.text_field :str %>
	</div>
	<div class="field">
		<%= f.label :mat %><br />
		<%= f.text_field :mat %>
	</div>
	<div class="field">
		<%= f.label :rat %><br />
		<%= f.text_field :rat %>
	</div>
	<div class="field">
		<%= f.label :def %><br />
		<%= f.text_field :def %>
	</div>
	<div class="field">
		<%= f.label :arm %><br />
		<%= f.text_field :arm %>
	</div>
	<div class="field">
		<%= f.label :cmd %><br />
		<%= f.text_field :cmd %>
	</div>
	<div class="field">
		<%= f.label :damage %><br />
		<%= f.text_field :damage %>
	</div>
	<div class="field">
		<%= f.label :base %><br />
		<%= f.select :base, [['Small', 'Small'], ['Medium', 'Medium'], ['Large', 'Large']] %>
	</div>
</div>