<h1><%= @squad.name %></h1>

<%= @squad.faction.name %>

<% @squad.units.each do |unit| %>
	<%= render :partial => 'units/stats', :locals => { :unit => unit } %>
	
	<%= render :partial => 'units/weapons', :locals => { :unit => unit } %>
<% end %>

<% @squad.units.each do |unit| %>
	<%= sanitize "#{unit.name}'s Damage: #{unit.damage}<br />" if unit.damage > 1 %>
<% end %>
Field Allowance: <%= @squad.field_allowance %><br />
<%= @squad.units.first.base %> Base

<% @squad.units.each do |unit| %>
	<%= render :partial => 'units/rules', :locals => { :unit => unit } %>
<% end %>

<div id="weapon_abilities">
	<% @squad.unique_weapons.each do |weapon| %>
		<%= render :partial => 'weapons/abilities', :locals => { :weapon => weapon } %>
	<% end %>
</div>

<br />

<%= link_to 'Edit', edit_squad_path(@squad) %> | <%= link_to @squad.faction.name, '/' + @squad.faction.name.downcase.gsub(/\s+/, "") %> | <%= link_to 'All Units', units_path %>