<%= form_for @unit do |f| %>
  <%= display_errors @unit %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :faction %><br />
		<%= f.collection_select :faction_id, Faction.all, :id, :name %>
	</div>
	<div class="field">
		<%= f.hidden_field :unit_type_id, :value => 4 %>
		<%= f.label :sub_type %><br />
		<%= f.collection_select :sub_type_id, SubType.order(:name), :id, :name, :include_blank => "No Sub Type" %>
	</div>
	<div class="field">
		<%= f.label :cavalry %>? <%= f.check_box :cavalry %>
	</div>
	<div class="field">
		<%= f.label :unit_attachment %>? <%= f.check_box :unit_attachment, :class => 'attachment_check' %>
	</div>
	<div class="field">
		<%= f.label :weapon_attachment %>? <%= f.check_box :weapon_attachment, :class => 'attachment_check' %>
	</div>
	<div id="attachment_field" class="field hidden">
		<%= f.label :attachment %><br />
		<%= f.collection_select :attachment_id, @unit.in_faction, :id, :name, :include_blank => "None" %>
	</div>
	<div class="field">
		<%= f.label :field_allowance %><br />
		<%= f.select :field_allowance, [['Character', 'C'], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['Unlimited', 'U']] %>
	</div>
	<div class="field">
		<%= f.label :min_models %><br />
		<%= f.text_field :min_models %>
	</div>
	<div class="field">
		<%= f.label :min_cost %><br />
		<%= f.text_field :min_cost%>
	</div>
	<div class="field">
		<%= f.label :max_models %><br />
		<%= f.text_field :max_models %>
	</div>
	<div class="field">
		<%= f.label :max_cost %><br />
		<%= f.text_field :max_cost %>
	</div>
	<%= f.fields_for :models do |builder| %>
		<%= render :partial => 'model_fields', :locals => { :f => builder } %>
	<% end %>
	<p><%= link_to_add_fields "Add Model", f, :models, 'units' %></p>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<div id="x_neworder"></div>