<%= form_for @unit, :url => { :controller => type_name, :action => action } do |f| %>
	<% if @unit.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>
		<ul>
		<% @unit.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= collection_select(:unit, :faction_id, Faction.all, :id, :name) %>
	</div>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :short_name %><br />
		<%= f.text_field :short_name %>
	</div>
	<div id="additional_fields">
		<% if type_name == 'units' %>
			<%= f.hidden_field :unit_type_id, :value => 5 %>
		<% else %>
			<%= render :partial => type_name + '/form', :locals => { :f => f, :unit_type => unit_type } %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :spd %><br />
		<%= f.text_field :spd %>
	</div>
	<div class="field">
		<%= f.label :str %><br />
		<%= f.text_field :str %>
	</div>
	<div class="field">
		<%= f.label :mat %><br />
		<%= f.text_field :mat %>
	</div>
	<div class="field">
		<%= f.label :rat %><br />
		<%= f.text_field :rat %>
	</div>
	<div class="field">
		<%= f.label :def %><br />
		<%= f.text_field :def %>
	</div>
	<div class="field">
		<%= f.label :arm %><br />
		<%= f.text_field :arm %>
	</div>
	<div class="field">
		<%= f.label :cmd %><br />
		<%= f.text_field :cmd %>
	</div>
	<div class="field">
		<%= f.label :damage %><br />
		<%= f.text_field :damage %>
	</div>
	<div class="field">
		<%= f.label :field_allowance %><br />
		<%= f.select :field_allowance, [['Character', 'C'], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['Unlimited', 'U']] %>
	</div>
	<div class="field">
		<%= f.label :cost %><br />
		<%= f.text_field :cost %>
	</div>
	<div class="field">
		<%= f.label :base %><br />
		<%= f.select :base, [['Small', 'Small'], ['Medium', 'Medium'], ['Large', 'Large']] %>
	</div>
	<div class="field">
		Additional Note<br />
		<%= f.text_field :add_name %>: <%= f.text_field :add_stat %>
	</div>
	<div class="field">
		<%= f.label :orders %><br />
		<%= f.collection_select :order_ids, Order.order(:name), :id, :name, {}, :multiple => true %>
	</div>
	<%= f.fields_for :rules do |builder| %>
		<%= render :partial => 'units/rule_fields', :locals => { :f => builder } %>
	<% end %>
	<p><%= link_to_add_fields "Add Rule", f, :rules, 'units' %></p>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>