<table>
  <tr>
    <th>Name</th>
	<th>Faction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% units.each do |unit| %>

  <tr>
    <td><%= unit.name %></td>
	<td><%= unit.faction.name %></td>
    <td><%= link_to 'Show', "#{unit_type}/#{unit.id}" %></td>
    <td><%= link_to 'Edit', "#{unit_type}/#{unit.id}/edit" %></td>
    <td><%= link_to 'Delete', "#{unit_type}/#{unit.id}", :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{unit_name}", "#{unit_type}/new" %>