<%= sanitize "<h2>#{unit.short_name}</h2>" if !unit.rules.empty? || !unit.orders.empty? %>

<% unit.parent_orders.each do |order| %>
	<p>
		<strong><%= order_name order %></strong>
		<%= " - #{order.order.desc}" if !order.order.desc.empty? %>
		
		<ul>
			<% order.order.sub_orders.each do |sub| %>
				<li><strong><%= sub.name %></strong> - <%= sub.desc %></li>
			<% end %>
		</ul>
	</p>
<% end %>

<% unit.rules.each do |rule| %>
	<p>
		<strong><%= rule.name %></strong>
		<%= " - #{rule.desc}" if !rule.desc.empty? %>
	</p>
<% end %>