<%= sanitize "<h2>#{unit.short_name}</h2>" if !unit.rules.empty? || !unit.orders.empty? %>

<% unit.orders.each do |order| %>
	<p>
		<strong><%= order.name %></strong>
		<%= " - #{order.desc}" if !order.desc.empty? %>
	</p>
<% end %>

<% unit.rules.each do |rule| %>
	<p>
		<strong><%= rule.name %></strong>
		<%= " - #{rule.desc}" if !rule.desc.empty? %>
	</p>
<% end %>