<table class="stat_table">
	<tr>
		<td class="left_align" colspan="7"><%= unit.short_name %> <%= unit_link unit, 'edit' if unit.sub_unit? %></td>
	</tr>
	<tr>
		<th>SPD</th>
		<th>STR</th>
		<th>MAT</th>
		<th>RAT</th>
		<th>DEF</th>
		<th>ARM</th>
		<th>CMD</th>
	</tr>
	<tr>
		<td><%= unit.spd %></td>
		<td><%= unit.str %></td>
		<td><%= unit.mat %></td>
		<td><%= unit.rat %></td>
		<td><%= unit.def %></td>
		<td><%= unit.arm %></td>
		<td><%= statDash unit.cmd %></td>
	</tr>
</table>
<br />