<h1>Units</h1>

<%# @unit_types.each do |unit_type| %>

	<h3><%#= unit_type.name %></h3>

<table>
  <tr>
    <th>Name</th>
	<th>Faction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    
<%# unit_type.units.each do |unit| %>
<% @units.each do |unit | %>
	
  <tr>
    <td><%= unit.name %></td>
	<td><%= unit.faction.name %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Delete', unit, :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<%# end %>

<br />

<%= link_to 'New Unit', new_unit_path %>