<h1><%= @unit.name %></h1>

<%= @unit.faction.name %> <%= @unit.unit_type.name %>

<%= render :partial => 'stats', :locals => { :unit => @unit } %>
<% if !@unit.warcaster? %>
	Point cost: <%= @unit.cost %><br />
<% end %>

<div id="weapons_stats">
	<%= render :partial => 'weapons/stats', :locals => { :unit => @unit } %>
</div>
<%= form_tag add_weapon_units_path, :class => 'unit_addition' do %>
	<%= hidden_field 'unit', 'id' %>
	<%= collection_select(:unit, :weapons, @available_weapons, :id, :name) %>
	<%= submit_tag "Add Weapon" %>
<% end %>
<%= link_to 'New Weapon', new_weapon_path, :id => 'newweapon', :rel => 'updater' %>
<div id="x_newweapon"></div>

<% if @unit.warcaster? %>
	Focus: <%= @unit.warcaster.focus %><br />
<% end %>
Damage: <%= @unit.damage %><br />
Field Allowance: <%= @unit.field_allowance %><br />
<% if @unit.warcaster? %>
	Warjack Points: +<%= @unit.warcaster.wj_points %><br />
<% end %>
<%= @unit.base %> Base

<% if @unit.warcaster? %>	
	<h4>Feat: <%= @unit.warcaster.feat_name %></h4>
	<p><%= @unit.warcaster.feat_desc %></p>
<% end %>

<%= render :partial => 'spells/stats', :locals => { :spells => @unit.spells } %>
<%= form_tag add_spell_units_path, :class => 'unit_addition' do %>
	<%= hidden_field 'unit', 'id' %>
	<%= collection_select(:unit, :spells, @available_spells, :id, :name) %>
	<%= submit_tag "Add Spell" %>
<% end %>
<%= link_to 'New Spell', new_spell_path, :id => 'newspell', :rel => 'updater' %>
<div id="x_newspell"></div>

<br />

<%= link_to 'Edit', edit_unit_path(@unit) %> | <%= link_to 'Back', units_path %>