<h1><%= @unit.name %></h1>

<%= @unit.faction.name %> <%= @unit.unit_type.name %>

<table border="1">
	<tr>
		<th>SPD</th>
		<th>STR</th>
		<th>MAT</th>
		<th>RAT</th>
		<th>DEF</th>
		<th>ARM</th>
	</tr>
	<tr>
		<td><%= @unit.spd %></td>
		<td><%= @unit.str %></td>
		<td><%= @unit.mat %></td>
		<td><%= @unit.rat %></td>
		<td><%= @unit.def %></td>
		<td><%= @unit.arm %></td>
	</tr>
</table>
<br />
Point cost: <%= @unit.cost %>

<h2>Weapons</h2>
<% @unit.weapons.each do |weapon| %>
	<%= weapon.name %>
	<% if weapon.wtype %>
		<%= render :partial => 'weapons/ranged', :locals => { :weapon => weapon } %>
	<% else %>
		<%= render :partial => 'weapons/melee', :locals => { :weapon => weapon } %>
	<% end %>
<% end %>

<h4>Feat: <%= @unit.feat.name %></h4>
<p><%= @unit.feat.desc %></p>

<table border="1">
	<tr>
		<th>SPELLS</th>
		<th>COST</th>
		<th>RNG</th>
		<th>AOE</th>
		<th>POW</th>
		<th>UP</th>
		<th>OFF</th>
	</tr>

<% @unit.spells.each do |spell| %>
	<tr>
		<td><%= spell.name %></td>
		<td><%= spell.cost %></td>
		<td><%= spell.rng %></td>
		<td><%= spell.aoe %></td>
		<td><%= spell.pow %></td>
		<td><%= spell.up %></td>
		<td><%= spell.off %></td>
	</tr>
	<tr>
		<td colspan="7"><%= spell.desc %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'Edit', edit_unit_path(@unit) %> | <%= link_to 'Back', units_path %>