<h1><%= @unit.name %></h1>

<%= @unit.faction.name %> <%= @unit.unit_type.name %>

<%= render :partial => 'stats', :locals => { :unit => @unit } %>
<% if !@unit.warcaster? %>
	Point cost: <%= @unit.cost %><br />
<% end %>

<%= render :partial => 'weapons/stats', :locals => { :unit => @unit } %>
<%= form_tag :action => 'add_weapon' do %>
	<%= hidden_field 'unit', 'id' %>
	<%= collection_select(:unit, :weapons, @available_weapons, :id, :name) %>
	<%= submit_tag "Add Weapon" %>
<% end %>

<% if @unit.warcaster? %>
	Focus: <%= @unit.warcaster.focus %><br />
	Warjack Points: +<%= @unit.warcaster.wj_points %>
	
	<h4>Feat: <%= @unit.warcaster.feat_name %></h4>
	<p><%= @unit.warcaster.feat_desc %></p>
<% end %>

<%= render :partial => 'spells/stats', :locals => { :spells => @unit.spells } %>
<%= form_tag :action => 'add_spell' do %>
	<%= hidden_field 'unit', 'id' %>
	<%= collection_select(:unit, :spells, @available_spells, :id, :name) %>
	<%= submit_tag "Add Spell" %>
<% end %>

<br />

<%= link_to 'Edit', edit_unit_path(@unit) %> | <%= link_to 'Back', units_path %>