<h1><%= @unit.name %></h1>

<%= @unit.faction.name %> <%= @unit.sub_type.name if !@unit.sub_type.nil? %>
<%= "Character" if @unit.character? %>
<%= unit_type @unit %>

<% @unit.models.each do |model| %>
	<%= render :partial => 'models/stats', :locals => { :model => model } %>

	<%= render :partial => 'models/weapons', :locals => { :model => model } %>
<% end %>

<%= unit_damage @unit %>
Field Allowance: <%= @unit.field_allowance %><br />
<% if !@unit.min_cost.empty? %>
  <%= @unit.min_models %>: <%= @unit.min_cost %><br />
<% end %>
<% if !@unit.max_cost.empty? %>
	<%= @unit.max_models %>: <%= @unit.max_cost %><br />
<% end %>
<%= unit_base @unit %>

<%= sanitize "<p>Attachment [#{@unit.attachment.name}] - This attachment can be added to a #{@unit.attachment.name} model.</p>" if @unit.attachment? %>

<% @unit.models.each do |model| %>
	<%= render :partial => 'models/rules', :locals => { :model => model } %>
<% end %>

<div id="weapon_traits">
	<% @unit.unique_weapons.each do |weapon| %>
		<%= render :partial => 'weapons/traits', :locals => { :weapon => weapon } %>
	<% end %>
</div>

<br />

<%= link_to('Edit', edit_unit_path(@unit)) + ' |' if can? :update, @unit %>
<%= show_links @unit.faction %>