<h1><%= @unit.name %></h1>

<%= @unit.faction.name %> <%= @unit.unit_type.name %>

<%= render :partial => 'stats', :locals => { :unit => @unit } %>
Point cost: <%= @unit.cost %><br />

<%= render :partial => 'weapons/stats', :locals => { :unit => @unit } %>

<h4>Feat: <%#= @unit.feat.name %></h4>
<p><%#= @unit.feat.desc %></p>

<%= render :partial => 'spells/stats', :locals => { :spells => @unit.spells } %>

<br />

<%= link_to 'Edit', edit_unit_path(@unit) %> | <%= link_to 'Back', units_path %>