<div class="field">
	<%= f.label :unit_type %><br />
	<%= f.collection_select :unit_type_id, UnitType.find(2, 3), :id, :name %>
</div>

<%= f.fields_for :warjack do |form| %>	
	<div class="field">
		<%= form.label :left_hand %><br />
		<%= form.collection_select :left_hand_id, Weapon.order(:name), :id, :name %>
	</div>
	<div class="field">
		<%= form.label :right_hand %><br />
		<%= form.collection_select :right_hand_id, Weapon.order(:name), :id, :name %>
	</div>
<% end %>