<%= fields_for @unit.warjack do |form| %>
	<div class="field">
		<%= form.label :left_hand %><br />
		<%= collection_select :form, :left_hand_id, Weapon.all, :id, :name %>
	</div>
	<div class="field">
		<%= form.label :right_hand %><br />
		<%= collection_select :form, :right_hand_id, Weapon.all, :id, :name %>
	</div>
<% end %>