<%= fields_for @unit.warjack do |form| %>
	<div class="field">
		<%= form.label :left_hand %><br />
		<%= form.text_field :left_hand %>
	</div>
	<div class="field">
		<%= form.label :right_hand %><br />
		<%= form.text_field :right_hand %>
	</div>
	</div>
<% end %>