<h1><%= @unit.name %></h1>

<%= @unit.faction.name %> <%= @unit.unit_type.name %>

<%= render :partial => 'units/stats', :locals => { :unit => @unit } %>

<%= render :partial => 'units/weapons', :locals => { :unit => @unit } %>

<%= render :partial => 'weapon', :locals => { :hand => 'L', :weapon => @unit.warjack.left_hand, :unit_str => @unit.str } %><br />
<%= render :partial => 'weapon', :locals => { :hand => 'R', :weapon => @unit.warjack.right_hand, :unit_str => @unit.str } %>

Field Allowance: <%= @unit.field_allowance %><br />
Point Cost: <%= @unit.cost %><br />
<%= @unit.base %> Base

<%= render :partial => 'units/rules', :locals => { :unit => @unit } %>

<div id="weapon_abilities">
	<% @unit.weapons.each do |weapon| %>
		<%= render :partial => 'weapons/abilities', :locals => { :weapon => weapon } %>
	<% end %>
</div>

<%= render :partial => 'weapons/abilities', :locals => { :weapon => @unit.warjack.left_hand } %>
<%= render :partial => 'weapons/abilities', :locals => { :weapon => @unit.warjack.right_hand } %>

<br />

<%= link_to 'Edit', edit_warjack_path(@unit) %> | <%= link_to @unit.faction.name, '/' + @unit.faction.name.downcase.gsub(/\s+/, "") %> | <%= link_to 'All Units', units_path %>