<%= form_for @sub_type do |f| %>
	<% if @sub_type.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@sub_type.errors.count, "error") %> prohibited this unit from being saved:</h2>
		<ul>
		<% @sub_type.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>